.card {
  margin-left: 10px;
  margin-right: 10px;
}

.card button {
  margin-top: 10px;
}

.card img {
  width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
